Repository donavanbecker/homebridge-honeywell-home-roomsensor-thermostat, changes with the labels that .github/labeler.yml gives for each.
All labels: server, branding, repo, enhancement, workflow

.github/labeler.yml:

# Add 'server' to any changes within 'server' folder or any subfolders
server:
  - server/**/*

# Add 'branding' to any file changes within 'honeywell' folder
branding: honeywell/*

# Add 'repo' label to any root file changes
repo:
  - ./*

# Add 'enhancement' label to any change to index.js file
enhancement:
  - ./index.js
  - ./package.json
  - ./pakcage-lock.json
  - ./config.schema.json
  
# Add 'workflow' to any changes within 'workflow' folder or any subfolders
workflow:
  - .github/workflows/*

publish first beta
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/nodejs-beta.yml
  .github/workflows/nodejs.yml
Labels: workflow

updating accessory naming convention
  src/platform.ts
  src/platformAccessory.ts
Labels: none

roomsensor thermostat
  README.md
  config.schema.json
  src/platform.ts
  src/platformAccessory.ts
Labels: repo, enhancement

adding room priorty
  package-lock.json
  package.json
  src/platform.ts
  src/platformAccessory.ts
Labels: repo, enhancement

fix room priority
  src/platformAccessory.ts
Labels: none

fix run of doRoomUpdate.
  src/platformAccessory.ts
Labels: none

room priority
  src/platform.ts
  src/platformAccessory.ts
Labels: none

Update platformAccessory.ts
  src/platformAccessory.ts
Labels: none

Update platform.ts
  src/platform.ts
Labels: none

set room priority
  src/platform.ts
  src/platformAccessory.ts
Labels: none

room priority
  src/platform.ts
  src/platformAccessory.ts
Labels: none

more tweaks
  src/platform.ts
  src/platformAccessory.ts
Labels: none

logging and room priority pull
  src/platform.ts
  src/platformAccessory.ts
Labels: none

room priority
  src/platformAccessory.ts
Labels: none

Update platformAccessory.ts
  src/platformAccessory.ts
Labels: none

Update config.schema.json
  config.schema.json
Labels: repo, enhancement

try async for await doRoomUpdate
  package-lock.json
  package.json
  src/platformAccessory.ts
Labels: repo, enhancement

Update platformAccessory.ts
  src/platformAccessory.ts
Labels: none

Update platformAccessory.ts
  src/platformAccessory.ts
Labels: none

Update platformAccessory.ts
  src/platformAccessory.ts
Labels: none

Update platformAccessory.ts
  src/platformAccessory.ts
Labels: none

Update platformAccessory.ts
  src/platformAccessory.ts
Labels: none

Update platformAccessory.ts
  src/platformAccessory.ts
Labels: none

Update platformAccessory.ts
  src/platformAccessory.ts
Labels: none

Update platformAccessory.ts
  src/platformAccessory.ts
Labels: none

Update platformAccessory.ts
  src/platformAccessory.ts
Labels: none

Update platformAccessory.ts
  src/platformAccessory.ts
Labels: none

Update platformAccessory.ts
  src/platformAccessory.ts
Labels: none

Update platformAccessory.ts
  src/platformAccessory.ts
Labels: none

Update platformAccessory.ts
  src/platformAccessory.ts
Labels: none

Update platformAccessory.ts
  src/platformAccessory.ts
Labels: none

Update platformAccessory.ts
  src/platformAccessory.ts
Labels: none

Update platformAccessory.ts
  src/platformAccessory.ts
Labels: none

Update platformAccessory.ts
  src/platformAccessory.ts
Labels: none

Update platformAccessory.ts
  src/platformAccessory.ts
Labels: none

Update platformAccessory.ts
  src/platformAccessory.ts
Labels: none

Update platformAccessory.ts
  src/platformAccessory.ts
Labels: none

Update platformAccessory.ts
  src/platformAccessory.ts
Labels: none

Update platformAccessory.ts
  src/platformAccessory.ts
Labels: none

Update platformAccessory.ts
  src/platformAccessory.ts
Labels: none
