Repository donavanbecker/homebridge-honeywell-home-roomsensor-thermostat, changes with the labels that .github/labeler.yml gives for each.
All labels: server, branding, repo, enhancement, workflow

Update platformAccessory.ts
  src/platformAccessory.ts
Labels: none

roompriority
  src/platform.ts
  src/platformAccessory.ts
Labels: none

Revert "roompriority"
  src/platform.ts
  src/platformAccessory.ts
Labels: none

Update platformAccessory.ts
  src/platformAccessory.ts
Labels: none

Update platformAccessory.ts
  src/platformAccessory.ts
Labels: none

Update platformAccessory.ts
  src/platformAccessory.ts
Labels: none

roompriority
  src/platformAccessory.ts
Labels: none

Update platformAccessory.ts
  src/platformAccessory.ts
Labels: none

Update platformAccessory.ts
  src/platformAccessory.ts
Labels: none

Update platformAccessory.ts
  src/platformAccessory.ts
Labels: none

Update platformAccessory.ts
  src/platformAccessory.ts
Labels: none

dependency-update
  package.json
  src/platformAccessory.ts
Labels: repo, enhancement

Update package-lock.json
  package-lock.json
Labels: repo

Update platformAccessory.ts
  src/platformAccessory.ts
Labels: none

finishing touches
  config.schema.json
  src/platform.ts
  src/roomSensorThermostat.ts
Labels: repo, enhancement

finishing touches
  CHANGELOG.md
  README.md
  SECURITY.md
Labels: repo

Update CHANGELOG.md
  CHANGELOG.md
Labels: repo

v1.0.0
  package-lock.json
  package.json
Labels: repo, enhancement

dependency-update
  package-lock.json
  package.json
Labels: repo, enhancement

Update dependabot.yml
  .github/dependabot.yml
Labels: none

Update dependabot.yml
  .github/dependabot.yml
Labels: none

.github/labeler.yml:

# Add 'server' to any changes within 'server' folder or any subfolders
server:
  - server/**/*

# Add 'branding' to any file changes within 'honeywell' folder
branding: honeywell/*

# Add 'repo' label to any root file changes
repo:
  - ./*

# Add 'enhancement' label to any change to index.js file
enhancement:
  - ./index.js
  - ./package.json
  - ./pakcage-lock.json
  - ./config.schema.json
  
# Add 'workflow' to any changes within 'workflow' folder or any subfolders
workflow:
  - .github/workflows/*
